@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
 }
section.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../src/s3.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
}

.padding {
    padding: 2rem;
}

